/* Base CSS for mobile view */

/* Font from Google Fonts API */
body {
    font-family: 'Open Sans', sans-serif;
}
.imgheadermattjpg {
    width: 10%;
    height: 10%;
}
/* Navigation with Flexbox */
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav li {
    margin: 10px 0;
}

/* Main element centering */
main {
    max-width: 90%;
    margin: 0 auto;
}

/* Course links list style */
ul.course-links {
    list-style: none;
    padding: 0;
}
/* Add more styles specific to mobile view as needed */
