/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gupter&display=swap');

/* Colors */
.color1 {
    background-color: #00eeff;
}

.color2 {
    background-color: #fcde9d;
}

/* Typography */
.color1 p,
.color2 p {
    padding-top: 1rem;
    text-align: center;
}

.font-example {
    font-family: 'Sunflower';
    width: 100%;
}

.header-example {
    background-color: white;
    font-family: 'Gupter';
    width: 100%;
}

/* Layout */
.wireframes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    padding: 10px;
}

.wireframes h2 {
    grid-column: 1/5;
}

body {
    width: 100%;
    text-align: center;
}

footer p {
    padding-top: 1rem;
}

h1 {
    padding-top: 1rem;
    text-shadow: #000;
}

img {
    display: block;
    margin: auto;
}

main {
    margin: 1rem auto;
    width: 50%;
}

section h2 {
    background-color: #fcde9d;
}

.color1,
.color2 {
    height: 50px;
}

/* Header and Footer */
footer,
header {
    background-color: #00eeff;
    height: 100px;
    margin: auto;
    text-align: center;
}

/* Sections */
section div,
section p {
    margin: 1rem auto;
    width: 50%;
}
