/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: "Sansita", sans-serif;
}

/* Mobile styles */
header {
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main {
    max-width: 767px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 800px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid #fff;
}

.active {
    color: yellow;
}

/* Larger Views */
@media (min-width: 640px) {
    body {
        font-size: 100%; /* Reset the font size */
    }

    header,
    main {
        max-width: 100%; /* Expand to the full width of the screen */
    }

    h1 {
        font-size: 3rem; /* Adjust the font size as needed */
    }

    nav ul {
        display: flex;
        justify-content: center; /* Center the navigation horizontally */
    }

    nav ul li {
        flex: 1; /* Distribute navigation items evenly */
    }

    nav a {
        padding: 1.5rem; /* Adjust the padding as needed */
    }

    /* Add more styles for larger screens as needed */
}
